$color: #eee;
body{
  background-color: $color;
  // 禁用文字选中
  user-select: none;
}

img {
  // 禁止拖动图片
  -webkit-user-drag: none;
}

.demo-logo-vertical {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, .2);
  border-radius: 6px;
}